@charset "utf-8";
/* CSS Document */

.jd{width:990px; margin:0 auto; font-family:'微软雅黑';}
 a{display:block;}
     .box .tit{height:14px; background:#f1f1f1; padding:9px; padding-top:7px;}
     .box .con-1{width:100px; maring-right:109px;}
	 .box .con-2{display:block; wqidth:100px; height:14px; position:relative;}
	 .box i{width:12px; height:11px; background:url(../img_jd/j_03.jpg) no-repeat;}
	 .box a span{color:#c81623;}
	 .box .con-3{padding:0 15px; border-right:1px solid #ccc; height:17px;}
	 .box .con-4{display:block;}
	 .box .con-5{width:15px; height:20px; background:url(../img_jd/jd2015img.png);}
	 .box .con-6{border:none;}
	 .box .c-3{position:relative;}
	 .box .c-2{width:300px; height:50px; position:absolute; left:0; bottom:-55px; background:#fff; display:none;}
	 .box .c-1{height:17px; width:60px; position:relative;}
	 .box .c-3:hover .c-2,.box .c-3:hover .c-22,.box .c-3:hover .c-222,.box .c-3:hover .c-2222,.box .c-3:hover .c-23{display:block;}
	 .box .c-3:hover .c-1,.box .c-3:hover .c-11{color:#c81623;}
	 .box .c-22{width:300px; height:300px; position:absolute; left:0; bottom:-305px; background:#fff; display:none;}
	 .box .c-11{height:17px; width:75px; position:relative;}
 .box .c-222{width:90px; height:90px; position:absolute; left:0; bottom:-95px; background:#fff; display:none;}
 .box .c-2222{width:200px; height:90px; position:absolute; left:0; bottom:-95px; background:#fff; display:none;}
 .box .c-23{width:961px; height:70px; position:absolute; right:0; bottom:-75px; background:#fff; display:none;}
 .box .con-3:hover a,.box .con-2:hover h4{color:#c81623;}
 
 
 .box .bottom{height:80px;}
 .box .x-1{display:block; width:990px; height:80px; background:url(../img_jd/c_03.jpg) no-repeat;}
 .box-1 .top{height:56px; margin:24px 0 19px;}
 .box-1 .t-1{width:280px; height:56px; background:url(../img_jd/logo-201305.png); margin-right:90px;} 
 .box-1 .t-2{height:34px; width:376px; border:1px solid #b61d1d; font-size:16px; padding-left:4px;}
 .box-1 .t-3{height:36px; width:80px; background:#b61d1d; border:1px solid #b61d1d; color:#fff; font-size:16px;}
  .box-1 .t-t{width:462px;}
  .box-1 .t-4{margin-top:7px;}
  .box-1 .t-4 a:active{color:#f00;}
  .box-1 .t-5{color:#f00;}
  .box-1 .t-4 a{margin-right:10px;}
  .box-1 .b-1{width:140px; height:34px; border:1px solid #dfdfdf; background:#f9f9f9; line-height:34px; position:relative;}
  .box-1 .b-1 .b-0{width:18px; height:14px; background:url(../img_jd/jd2015img.png) 0 -59px; margin-left:19px; margin-right:7px; margin-top:10px;}
  .box-1 .b-1 .b-2{width:10px; height:14px; background:url(../img_jd/20130330B_1.png)-130px -50px #f9f9f9; margin-right:9px; margin-top:10px; margin-left:17px;}
  .box-1 span{height:14px; position:relative; top:-4px; padding:0 5px; color:#fff; line-height:14px; background:url(../img_jd/7_04.jpg) repeat-x;}
  .box-1 .b-3{width:4px; height:14px; position:absolute; left:0; top:0; background:url(../img_jd/7_02.jpg) no-repeat;}
  .box-1 .b-4{width:4px; height:14px; position:absolute; right:0; top:0; background:url(../img_jd/7_06.jpg) no-repeat;}
  .box-1 .b-1 .f{position:absolute; right:19px; top:0;}
   .box-1 .bottom{height:45px; border-bottom:2px solid #b1191a; width:990px;}
   .box-1 .d-1 a{width:203px; height:45px; background:#b1191a; padding-left:9px; line-height:45px; color:#fff;}
    .box-1 .d-2{float:left; height:45px; line-height:45px; margin:0 20px;}
	
	  .box-1 .s-1{width:30px; position:relative;}
  .box-1 .s-1 span{height:17px; position:relative; padding:0 5px; background:url(../img_jd/oooo_07.jpg) repeat-x; line-height:17px;}
  .box-1 .b-33{width:4px; height:17px; position:absolute; left:0; top:0; background:url(../img_jd/oooo_02.jpg) no-repeat;}
  .box-1 .b-44{width:4px; height:17px; position:absolute; right:0; top:0; background: no-repeat;}
  .box-1 .s-1 .f{position:absolute; right:-40px; top:-8px;}
  
  .box-2{height:467px;}
  .box-2 .left{width:202px; padding-left:10px; background:#c81623; height:467px;} 
  .box-2 .l-1{width:202px; height:26px;}
  .box-2 .l-3{height:14px; font-size:14px; color:#fff; margin-top:8px;}
  .box-2 .i-2{background:url(../img_jd/d_03.jpg) no-repeat; margin-top:13px; margin-right:9px; width:12px; height:12px;}
  .box-2 .l-2{width:202px; height:31px;}
  .box-2 .i-1{background:url(../img_jd/d_03.jpg) no-repeat; margin-top:19px; margin-right:9px; width:12px; height:12px;}
  .box-2 .l-4{height:14px; font-size:14px; color:#fff; margin-top:14px; margin-right:5px;}
  
  .box-2 .center{height:455px; width:512px; margin:12px 10px 0; position:relative;}
  .box-2 .bk{background:url(../img_jd/jd_03.jpg); width:512px; height:455px;}
  .box-2 .btn{width:150px; height:20px; position:absolute; left:191px; bottom:20px;}
  .box-2 .btn a{float:left; width:18px; height:18px; background:url(../img_jd/i_03.jpg); margin-right:4px;  text-align:center; line-height:18px; color:#fff;}
   .box-2 .icon-1:hover{background:url(../img_jd/ll_03.jpg);}
   .box-2 .icon-2:hover{background:url(../img_jd/ll_03.jpg);}
   .box-2 .icon-3:hover{background:url(../img_jd/ll_03.jpg);}
   .box-2 .icon-4:hover{background:url(../img_jd/ll_03.jpg);} 
   
   .box-2 .right{width:242px; height:453px; margin-top:12px; border:1px solid #ccc;} 
   .box-2 .r-1{width:242px; height:212px;}
   .box-2 .r-2{height:45px; line-height:46px; border-bottom:1px dashed #ccc;}
   .box-2 .d-1{margin-left:15px;}
   .box-2 .d-2{margin-right:15px;}
   .box-2 .r-2 a{font-size:14px;}
   .box-2 .r-3 a{margin-left:15px; line-height:28px; margin-top:15px;}
   .box-2 .r-3 span{font-weight:bold;}
   .box-2 .r-3{height:156px; border-bottom:1px dashed #ccc;}
   .box-2 .r-4 dt{height:42px; line-height:42px; border-bottom:1px dashed #ccc;}
   .box-2 dt a{font-size:14px; margin-left:15px;}
   .box-2 dd{width:60px; height:65px; border-right:1px solid #ccc; border-bottom:1px solid #ccc; text-align:center; background:url(../img_jd/s_03.jpg) no-repeat 18px 10px; line-height:90px;}
   .box-2 .d-4{width:59px; border-right:none;}
   .box-2 .d-6{height:66px; border-bottom:none;}
   
     .box-3{height:152px;}
     .box-3 .con{height:152px; width:228px; border-left:1px solid #fff; padding-left:19px; background:#eeeeee;}
	 .box-3 .con-1{height:16px; font-size:16px; font-weight:bold; margin-top:22px; margin-bottom:10px;}
	 .box-3 .c-1{border:none; width:227px;}
	 .box-3 .con-2{height:20px; width:80px; background:#ce4c54; text-align:center; color:#fff; font-size:14px; line-height:20px; margin-bottom:5px;}
	 .box-3 .con-3{color:#707070; margin-bottom:18px;}
	 .box-3 .con-4{width:50px;}
	 .box-3 .con li{width:230px; height:152px; position:relative;}
	 .box-3 .con img{width:173px; height:87px; position:absolute; left:54px; top:50px;}
	 
	 .box-4 .top{height:67px; position:relative;}
	 .box-4 .top a{font-size:18px; height:18px; position:absolute; left:0; bottom:10px;}
	 .box-4 .con{width:492px; height:401px; border:1px solid #ededed;}
	 .box-4 .con-1{width:163px; height:200px; border-bottom:1px solid #ededed; background:url(../img_jd/zz_03.jpg); border-right:1px solid #ededed;}
	 .box-4 .con-2{width:327px; height:200px; border-bottom:1px solid #ededed; background:url(../img_jd/zz_06.jpg);} 
	 .box-4 .con-3{width:163px; height:200px;border-right:1px solid #ededed; background:url(../img_jd/jjjpg_03.jpg);}
	 .box-4 .con-4{border-right:none;}
	 .box-4 .r-1{height:201px;}
	 .box-4 .r-2{background:url(../img_jd/sssss_03.jpg); width:164px; height:200px; border-right:1px solid #ededed; border-bottom:1px solid #ededed;}
	 .box-4 .r-3{border-right:none;}
	 .box-4 .s-1{height:200px;}
	 .box-4 .s-2{background:url(../img_jd/jjjj_03.jpg); width:164px; height:200px; border-right:1px solid #ededed;}
	 .box-4 .f-1{width:81px; height:45px; padding-top:5px; text-align:center;}
	 .box-4 .f-1 i{display:block; width:20px; height:18px; background:url(../img_jd/ttt_03.jpg); margin:0 30px 5px;}
	 .box-4 .f-1 a{color:#666;}
	 .box-4 .f-2{width:81px; height:45px; background:#f5f5f5; padding-top:5px; text-align:center;}
	 .box-4 .f-2 i{display:block; width:20px; height:18px; background:url(../img_jd/ttt_05.jpg); margin:0 30px 5px;}
	 .box-4 .f-2 a{color:#666;}
	 .box-4 .f-f{width:163px; height:200px; border-right:1px solid #ededed;}
	 .box-4 .zj{height:119px; padding:20px 15px 21px; width:960px; border-top:1px solid #ededed;}
	 .box-4 .zj-1{height:119px; width:960px; background:url(../img_jd/k_03.jpg);}

	 .box-5 .top{height:37px;}
	 .box-5 .tit{width:140px; height:37px; padding-right:132px; border:1px solid #fff;}
	 .box-5 .tit i{background:url(../img_jd/sprite_floor.png) 0 -35px ; width:37px; height:37px; display:block; color:#fff;}
	 .box-5 .tit a{font-size:20px; margin-left:10px;}
	 .box-5 .ng{width:714px; height:37px; border:1px solid #ededed; line-height:17px;}
	 .box-5 .n-1{font-size:14px; width:56px; height:14px; margin:10px 0; border-right:1px solid #ccc; padding:0 14px; position:relative; background:#fff; z-index:999;} 
	 .box-5 .n-6{font-size:14px; width:29px; height:14px; margin:10px 0; border-right:1px solid #ccc; padding:0 14px; position:relative; background:#fff; z-index:999;} 
	 .box-5 .n-2{border-right:none;}
	 .box-5 .n-4{width:58px; height:37px; position:relative; }
	 .box-5 .n-5{width:82px; height:37px; position:relative; }
	 .box-5 .n-3{width:990px; height:1px; background:#c81623; position:absolute; left:-275px; bottom:-2px; display:none;}
	 .box-5 .n-4:hover .n-6{position:relative; left:0; top:-10px; padding-top:10px; height:27px; border:1px solid #c81623; border-top:2px solid #c81623; border-bottom:none; z-index:9999;}
	 .box-5 .n-4:hover .n-3{display:block; z-index:9999;}
	 .box-5 .n-5:hover .n-1{position:relative; left:0; top:-10px; padding-top:10px; height:27px; border:1px solid #c81623; border-top:2px solid #c81623; border-bottom:none;
	 z-index:9999;}
	   .box-5 .n-5:hover .n-3{display:block;}
	   .box-5 .center{height:472px; border-bottom:1px solid #ededed;}
	   .box-5 .l{width:209px; height:472px; background:url(../img_jd/gg_03.jpg);}
	   .box-5 .t{height:235px; width:780px; border-bottom:1px solid #ccc; border-right:1px solid #ededed;}
	   .box-5 .t-1{width:218px; height:236px; background:url(../img_jd/gg_06.jpg);}
	   .box-5 .t-2{width:344px; height:236px; background:url(../img_jd/gg_10.jpg);}
	   .box-5 .t-1{width:218px; height:236px; background:url(../img_jd/gg_06.jpg);}
	   .box-5 .bottom{height:237px;}
	   .box-5 .img-1{padding:9px 0; border-top:1px solid #ededed;}
	   .box-5 .img-2{margin:12px 0 18px;}
	   
	   .box-6 .top{height:96px; background:#f5f5f5; margin-bottom:24px;}
	   .box-6 .top-1{width:242px; height:96px;}
	   .box-6 .top a{font-size:20px; margin-top:36px;}
	   .box-6 .top img{margin-top:26px; margin-left:25px;}
	   .box-6 .center{height:200px; border-bottom:1px solid #ccc; margin-bottom:20px;}
	   .box-6 .left{width:85px; margin-right:60px;}
	   .box-6 .left-1{font-size:14px; margin-bottom:12px; color:#666;}
	   .box-6 .left-2{color:#666; line-height:20px;}
	   .box-6 .right{width:260px; height:170px; background:url(../img_jd/20130330B_1.png) 0 -130px;}
	   .box-6 .right-1{width:130px; height:16px; font-size:16px; color:#666; margin:24px 10px; margin-top:1px;}
	   .box-6 .right-2{width:190px; height:50px; color:#666;}
	   .box-6 .right-3{height:16px; width:80px; font-size:16px; color:#666; margin:5px 0 0 140px;} 
       .box-6 .bottom{height:164px;}
	   .box-6 .b-1{height:12px; margin-left:100px; margin-bottom:16px;}
	   .box-6 .b-2{height:12px; border-right:1px solid #ccc; padding:0 12px;}
	   .box-6 .b-3{border:none;} 
	   .box-6 .d-1{ height:60px; text-align:center;}
	   .box-6 .d-2{margin-left:160px;}
	   .box-6 .d-2 a{margin-right:8px; margin-top:8px;}
