@charset "utf-8";
/* CSS Document */

*{font-family:"微软雅黑";}
.wdwy{width:1200px; margin:0 auto;}
    .box{height:107px;}
    .box .con{height:32px; background:#f5f5f5;  padding-top:7px;}
	.box .con-1{height:53px; padding-top:15px;}
	.box a{padding: 0 15px; height:18px; border-left:1px dashed #ccc; line-height:18px; display:block;}
    .box li div{width:18px; height:17px; background:url(../img_mls/mls_global140607.png)}
	.box .c-1{background:url(../img_mls/i_wx_single.png);}
	.box .c-2{background-position:-188px -21px;}
	.box .c-3{background-position:-192px -42px;}
	.box .c-4{background-position:-223px -42px;}
	.box .c-5{background-position:-171px -42px;}
	.box .con a span{height:15px; background:url(../img_mls/1_03_03.jpg) repeat-x; padding:0 5px; line-height:15px; position:relative; margin-top:3px;}
	.box .left{width:5px; height:15px; background:url(../img_mls/1_03_01.jpg); position:absolute; left:0; top:0;}
	.box .right{width:5px; height:15px; background:url(../img_mls/1_03_05.jpg); position:absolute; right:0; top:0;}
	.box .x-1{margin-left:270px;}
	.box-1 .top{height:40px; background:#fe65a3; padding-left:137px;}
	.box-1 a{display:block; height:40px; line-height:40px; padding:0 14px; color:#fff; font-size:16px;}
    .box-1 a:hover{ background:#ed3577;}
	.box-1 li:hover img{display:none;}
    .box-1 img{padding-top:14px;}
	.box-1 .yf:hover{width:47px;}
	
	.box-2 h1{font-size:16px;}
	 .box-2 .left img{margin-top:4px}
	 .box-2 li{position:relative; width:238px; height:115px;}
	.box-2 a{margin:0 7px; line-height:24px; display:block;}
	.box-2 .x-1{height:88px; width:230px;  border-top:0; padding:16px 0 10px 6px; border-bottom:1px dashed #ccc; border-left:1px solid #ccc;  border-right:1px solid #ccc;}
	.box-2 .l-3{width:199px;}
	.box-2 .l-2{width:19px; height:16px; margin-top:10px; margin-right:7px;}
	.box-2 a:hover{color:#ff6699;}
	.box-2 .x-1{position:relative; background:#fff; z-index:999;}
	.box-2 .x-2{position:absolute; right:-350px; top:0; border:1px solid #ccc; width:350px; height:298px; display:none; z-index:30; background:#fff;}
     .box-2 li:hover .x-2{display:block;}
	 .box-2 li:hover .x-1{border-right:none;}
	
	.box-2 .right{hright:575px;}
	.box-2 .con{width:962px; height:421px;}
	.box-2 .c-1{width:762px; height:421px; background:url(../img_mls/ml_03.jpg);}
	.box-2 .c-2 img{width:200px; height:141px;}
	.box-2 .c-2{width:200px;}
	.box-2 .mo {height:131px; width:962px; padding-top:12px;}
	.box-2 .m-1{width:176px; height:143px; background:url(../img_mls/ml_11.jpg); margin-left:14px;}
	.box-2 .m-2{width:176px; height:143px; background:url(../img_mls/ml_13.jpg); margin-left:10px;}
	.box-2 .m-3{width:176px; height:143px; background:url(../img_mls/ml_15.jpg); margin-left:10px;}
	.box-2 .m-4{width:176px; height:143px; background:url(../img_mls/ml_17.jpg); margin-left:10px;}
	.box-2 .m-5{width:199px; height:143px; background:url(../img_mls/ml_19.jpg); margin-left:14px;}
	
	.box-3 .top{width:1200px; height:27px; border-bottom:1px solid #ccc; padding-top:25px; margin-bottom:15px;}
	.box-3 .top a{display:block; width:160px; height:27px; background:url(../img_mls/wel_ico2.png);}
	.box-3 .bottom{height:344px;}
	.box-3 p{color:#000;}
	.box-3 .c-1{color:#ff6699;}
	.box-3 .c-2{color:#999; text-decoration:line-through;}
	.box-3 .c-3{display:block; height:15px; border-top:1px dashed #ccc; width:177px; padding-top:10px;}
	.box-3 .bottom li{margin-right:27px;}
	.box-3 .bottom .c-4{margin-right:0;}
	
	.box-4 .top{width:1200px; height:27px; padding-top:25px; margin-bottom:15px;}
	.box-4 .bottom{height:334px;}
	.box-4 p{color:#000;}
	.box-4 .c-1{color:#ff6699;}
	.box-4 .c-2{color:#999; text-decoration:line-through;}
	.box-4 .c-3{display:block; height:15px; border-top:1px dashed #ccc; width:186px; padding-top:10px;}
	.box-4 .bottom li{margin-right:14px;}
	.box-4 .bottom .c-4{margin-right:0;}
	.box-5 .top{width:1200px; height:27px; border-bottom:1px solid #ccc; padding-top:25px; margin-bottom:15px;}
	.box-5 .top a{display:block; width:160px; height:27px; background:url(../img_mls/wel_ico2.png) 0 -240px;}
	.box-5 .bottom{height:344px;}
	.box-5 p{color:#000;}
	.box-5 .c-1{color:#ff6699;}
	.box-5 .c-2{color:#999; text-decoration:line-through;}
	.box-5 .c-3{display:block; height:15px; border-top:1px dashed #ccc; width:177px; padding-top:10px;}
	.box-5 .bottom li{margin-right:25px;}
	.box-5 .bottom .c-4{margin-right:0;}
	.box-5 .bottom .c-5{display:block; margin-bottom:10px;}
	.box-5 .bottom-2{height:140px; padding-top:39px;}
	
	.box-6{height:645px;}
	.box-6 .top{width:1200px; height:27px; border-bottom:1px solid #ccc; margin-top:25px; margin-bottom:15px;}
	.box-6 .top a{display:block; width:77px; height:27px; background:url(../img_mls/wel_ico2.png)0 -44px;}
	.box-6 .bottom{height:592px;}
	.box-6 .c-1{font-size:20px; color:#999999; border-left:1px dashed ccc; padding-left:10px; margin-left:14px;}
    .box-6 .c-2{color:#666666; font-size:20px;}
	.box-6 .z-1{margin:0 2px 2px;}
	.box-6 .z-3{height:256px;}
	.box-6 .left{width:929px; border-right:1px solid #ccc; height:592px; padding-right:12px;}
     .box-6 .z-2{width:313px; height:79px; border-right:1px dashed #ccc; line-height:79px; border-bottom:1px solid #ccc;}
	 .box-6 .v-2{width:218px; line-height:20px; margin-top:22px; height:57px; margin-left:52px;}
	 .box-6 .v-1 h1{font-size:16px; color:#ff71a0; margin-left:11px;}
	 .box-6 .v-2 span{margin:0 5px;}
	 .box-6 .z-4{border-right:none;}
	 .box-6 .c-5{width:942px; height:80px;}
	 .box-6 .right{height:592px;}
	 .box-6 .b-1{height:16px; margin-left:20px; width:238px; margin-bottom:10px;}
	 .box-6 .b-1 span{color:#999; font-size:14px;}
	 .box-6 .b-1 h1{font-size:16px;}
	 .box-6 .b-4{display:block; height:40px; border-bottom:1px dashed #ccc;}
	 .box-6 .b-4 img{margin-right:12px;}
	 .box-6 .b-2{color:#999;}
	 .box-7 .top{width:1200px; height:27px; margin-top:25px; margin-bottom:15px;}
	.box-7 .top a{display:block; width:120px; height:27px; background:url(../img_mls/wel_ico2.png)0 -200px;}
	.box-7 .bottom{height:285px; padding-bottom:20px; border-bottom:1px solid #ccc;}
    .box-7 .bottom img{margin-right:13px; border-right:1px solid #ccc;}
	  .box-7 .bottom .l-1{margin-right:0;}
	  
	.box-s{background:#f5f5f5; color:#666666;}
	.box-s .top{height:184px; padding-top:30px;}
	.box-s .con{width:200px; height:184px; line-hright:27px;}
	.box-s .con-1{width:37px; height:40px; background:url(../img_mls/mls_global140607.png) 0 -114px; margin:0 4px;}
	.box-s .con-2 h1{font-size:16px;}
	.box-s .con-3{width:85px; height:184px; line-hright:27px;}
	.box-s .con-4 h1{font-size:16px;}
	.box-s .c-1{width:18px; height:18px; background:url(../img_mls/mls_global140607.png) 0 -20px;}
	.box-s .c-2{width:18px; height:18px; background:url(../img_mls/mls_global140607.png) -74px -20px;}
	.box-s .c-3{width:18px; height:18px; background:url(../img_mls/mls_global140607.png) -49px -20px;}
	.box-s .con-5{width:148px; height:169px; line-hright:27px;}
	.box-s .con-6{width:130px; height:100px; background:url(../img_mls/mls_global140607.png)0 -402px;}
	.box-s .con-3 h1,.box-s .con-5 h1{margin-bottom:15px;}
	.box-s .center{height:30px; width:1200px; border-top:1px solid #e6e6e6;  border-bottom:1px solid #e6e6e6; line-height:30px;}
	.box-s .center a{display:block; height:30px; margin:0 10px;} 
.box-s .bottom{height:53px; line-height:23px; margin-top:15px;}
